@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar barra de rolagem horizontal */
}

.background-image {
  background-image: url('./assets/backgrounds/background-service-mobile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .background-image-desktop {
    background-image: url('./assets/backgrounds/background-service.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.background-about-us {
  background-image: url('./assets/backgrounds/background-about-us-mobile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .background-about-us-desktop {
    background-image: url('./assets/backgrounds/novo-fundo.svg');
    background-size: cover;
    background-position: center;
  }
}

.background-image-form {
  background-image: url('./assets/backgrounds/background.svg');
  background-size: cover;
  background-position: center;
}

.icon-container:hover .social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  position: relative;
  transition: all 0.3s; /* Tempo e função de transição podem ser ajustados conforme necessário */
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 30%;
  transition: all 0.3s;
  box-shadow: 5px 0 10px rgba(193, 27, 27, 0.642);
}

.cursor-pointer:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

@font-face {
  font-family: 'Don';
  src: url('./assets/fonts/dongraffiti-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.text-don {
  font-family: 'Don', sans-serif;
}

@font-face {
  font-family: 'Bombing';
  src: url('./assets/fonts/bombing-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.text-bombing {
  font-family: 'Bombing', sans-serif;
}

.backFooterColor {
  background-color: #ffbd59;
}

.aboutSection {
}

.aboutItems {
  transform: translateX(-400px);
  opacity: 0;
}

.aboutCria {
  transform: translateX(400px);
  opacity: 0;
}

.serviceSection {
}

.service {
}

.models-item {
}
